process {
  withName: 'NFCORE_BACASS:BACASS:FASTQ_TRIM_FASTP_FASTQC:FASTP' {
    cpus = { 7 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:FASTQ_TRIM_FASTP_FASTQC:FASTQC_RAW' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:FASTQ_TRIM_FASTP_FASTQC:FASTQC_TRIM' {
    cpus = { 2 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:GUNZIP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KMERFINDER_SUBWORKFLOW:FIND_DOWNLOAD_REFERENCE' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KMERFINDER_SUBWORKFLOW:KMERFINDER' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KMERFINDER_SUBWORKFLOW:KMERFINDER_SUMMARY' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KMERFINDER_SUBWORKFLOW:UNTAR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KRAKEN2' {
    cpus = { 2 * task.attempt }
    memory = { 9.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:KRAKEN2_DB_PREPARATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:MULTIQC_CUSTOM' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:PROKKA' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:QUAST' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:QUAST_BYREFSEQID' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_BACASS:BACASS:UNICYCLER' {
    cpus = { 9 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
