process {
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:BCL_DEMULTIPLEX:BCL2FASTQ' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:FALCO' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:FASTP' {
    cpus = { 6 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:MD5SUM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:RUNDIR_CHECKQC:CHECKQC' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:RUNDIR_CHECKQC:CHECKQC_DIR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DEMULTIPLEX:DEMULTIPLEX:SAMSHEE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
