process {
  withName: 'NFCORE_DETAXIZER:BBMAP_BBDUK' {
    cpus = { 11 * task.attempt }
    memory = { 59.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 17.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:FILTER' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:ISOLATE_BBDUK_IDS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:ISOLATE_KRAKEN2_IDS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:KRAKEN2PREPARATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:KRAKEN2_KRAKEN2' {
    cpus = { 3 * task.attempt }
    memory = { 9.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:KRAKEN2_POST_CLASSIFICATION_FILTERED' {
    cpus = { 3 * task.attempt }
    memory = { 9.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:KRAKEN2_POST_CLASSIFICATION_REMOVED' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:MERGE_IDS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:PARSE_KRAKEN2REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:RENAME_FASTQ_HEADERS_AFTER' {
    cpus = { 4 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:RENAME_FASTQ_HEADERS_PRE' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:SUMMARIZER' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_DETAXIZER:SUMMARY_CLASSIFICATION' {
    cpus = { 10 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
