process {
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:CAT_TSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:CSVTK_CONCAT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_CHECK_REQUESTED_MODELS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_CHECK_REQUESTED_MODELS_PEP' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_CHECK_REQUESTED_MODELS_PROTEIN' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_GENERATE_PEPTIDES' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_PEPTIDE_PREDICTION_PEP' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_PEPTIDE_PREDICTION_PROTEIN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:EPYTOPE_PEPTIDE_PREDICTION_VAR' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:GET_PREDICTION_VERSIONS' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:GUNZIP_VCF' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:MERGE_JSON_MULTI' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:MERGE_JSON_SINGLE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:MULTIQC' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:SNPSIFT_SPLIT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:SPLIT_PEPTIDES_PEPTIDES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_EPITOPEPREDICTION:EPITOPEPREDICTION:SPLIT_PEPTIDES_PROTEIN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
