process {
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:ALIGN_CONSENSUS_BAM' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:ALIGN_RAW_BAM' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:CALLDDUPLEXCONSENSUSREADS' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:COLLECTDUPLEXSEQMETRICS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FASTQTOBAM' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:FILTERCONSENSUSREADS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:GROUPREADSBYUMI' {
    cpus = { 3 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:FASTQUORUM:MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:BWAMEM1_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:SAMTOOLS_DICT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQUORUM:PREPARE_GENOME:SAMTOOLS_FAIDX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
