process {
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:FASTQ_REPAIR_WIPERTOOLS:WIPERTOOLS_FASTQGATHER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:FASTQ_REPAIR_WIPERTOOLS:WIPERTOOLS_FASTQSCATTER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:FASTQ_REPAIR_WIPERTOOLS:WIPERTOOLS_FASTQWIPER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:FASTQ_REPAIR_WIPERTOOLS:WIPERTOOLS_REPORTGATHER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:GZRT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FASTQREPAIR:FASTQREPAIR:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
