process {
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMPCOMBI2_CLUSTER' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMPCOMBI2_COMPLETE' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMPCOMBI2_PARSETABLES' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMPIR' {
    cpus = { 21 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMP_GUNZIP_HMMER_HMMSEARCH' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:AMP_HMMER_HMMSEARCH' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:DRAMP_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:GUNZIP_MACREL_ORFS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:GUNZIP_MACREL_PRED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:AMP:MACREL_CONTIGS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ANNOTATION:GUNZIP_PYRODIGAL_FAA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ANNOTATION:GUNZIP_PYRODIGAL_FNA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ANNOTATION:GUNZIP_PYRODIGAL_GBK' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ANNOTATION:PYRODIGAL' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:ABRICATE_RUN' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:AMRFINDERPLUS_RUN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:AMRFINDERPLUS_UPDATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:ARGNORM_ABRICATE' {
    cpus = { 10 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:ARGNORM_AMRFINDERPLUS' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:ARGNORM_DEEPARG' {
    cpus = { 12 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:DEEPARG_DOWNLOADDATA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:DEEPARG_PREDICT' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:FARGENE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_ABRICATE' {
    cpus = { 10 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_AMRFINDERPLUS' {
    cpus = { 15 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_DEEPARG' {
    cpus = { 14 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_FARGENE' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_RGI' {
    cpus = { 12 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:HAMRONIZATION_SUMMARIZE' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:RGI_CARDANNOTATION' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:RGI_MAIN' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:ARG:UNTAR_CARD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:ANTISMASH_ANTISMASHLITE' {
    cpus = { 3 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:ANTISMASH_ANTISMASHLITEDOWNLOADDATABASES' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:BGC_HMMER_HMMSEARCH' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:COMBGC' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:GECCO_RUN' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:UNTAR_CSS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:UNTAR_DETECTION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:BGC:UNTAR_MODULES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:GUNZIP_INPUT_PREP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:MULTIQC' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_FUNCSCAN:FUNCSCAN:SEQKIT_SEQ' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
