process {
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:FLYE' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:GFA_2_FA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:HIFIASM' {
    cpus = { 7 * task.attempt }
    memory = { 17.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_REF:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_REF:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_REF:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_REF:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:MAP_TO_REF:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:RAGTAG_SCAFFOLD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ASSEMBLE:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ONT:JELLYFISH:COUNT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ONT:JELLYFISH:GENOMESCOPE' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ONT:JELLYFISH:HISTO' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ONT:JELLYFISH:STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:ONT:PREPARE_ONT:RUN_NANOQ:NANOQ' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:RUN_MEDAKA:MEDAKA' {
    cpus = { 19 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_MEDAKA:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_SR:ALIGN_SHORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_SR:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_SR:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_SR:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_SR:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:RUN_PILON:PILON' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:POLISH:POLISH_PILON:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:PREPARE_SHORTREADS:MERYL_COUNT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:PREPARE_SHORTREADS:MERYL_UNIONSUM' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:PREPARE_SHORTREADS:TRIMGALORE' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:REPORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:LINKS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LINKS:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:LONGSTITCH' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_LONGSTITCH:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:MAP_TO_ASSEMBLY:ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:MAP_TO_ASSEMBLY:BAM_STATS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:MAP_TO_ASSEMBLY:BAM_STATS:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:RAGTAG_SCAFFOLD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:RUN_BUSCO:BUSCO' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:RUN_LIFTOFF:LIFTOFF' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_GENOMEASSEMBLER:GENOMEASSEMBLER:SCAFFOLD:RUN_RAGTAG:RUN_QUAST:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
