process {
  withName: 'NFCORE_ISOSEQ:ISOSEQ:BAMTOOLS_CONVERT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GNU_SORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GSTAMA_COLLAPSE' {
    cpus = { 1 * task.attempt }
    memory = { 20.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GSTAMA_FILELIST' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GSTAMA_MERGE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GSTAMA_POLYACLEANUP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:GUNZIP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:ISOSEQ_REFINE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:LIMA' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:PBCCS' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:ULTRA_ALIGN' {
    cpus = { 3 * task.attempt }
    memory = { 17.GB * task.attempt }
  }
  withName: 'NFCORE_ISOSEQ:ISOSEQ:ULTRA_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
