process {
  withName: 'NFCORE_MAG:MAG:BINNING:ADJUST_MAXBIN2_EXT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:CONVERT_DEPTHS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:GUNZIP_BINS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:MAXBIN2' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_METABAT2' {
    cpus = { 5 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING:SPLIT_FASTA' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:BOWTIE2_ASSEMBLY_ALIGN' {
    cpus = { 3 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:BOWTIE2_ASSEMBLY_BUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BIN_QC:BUSCO' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BIN_QC:BUSCO_SUMMARY' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:BIN_SUMMARY' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:CAT' {
    cpus = { 7 * task.attempt }
    memory = { 11.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:CAT_DB' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:CAT_SUMMARY' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS_PLOT' {
    cpus = { 12 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS_SUMMARY' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:GUNZIP_ASSEMBLIES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:KRAKEN2' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:KRAKEN2_DB_PREPARATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:KRONA_KRONADB' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:KRONA_KTIMPORTTAXONOMY' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:LONGREAD_PREPROCESSING:FILTLONG' {
    cpus = { 2 * task.attempt }
    memory = { 19.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:LONGREAD_PREPROCESSING:NANOLYSE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:LONGREAD_PREPROCESSING:NANOPLOT_FILTERED' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:LONGREAD_PREPROCESSING:NANOPLOT_RAW' {
    cpus = { 2 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:LONGREAD_PREPROCESSING:PORECHOP_ABI' {
    cpus = { 4 * task.attempt }
    memory = { 30.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:MEGAHIT' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:PRODIGAL' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:PROKKA' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:QUAST' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:QUAST_BINS' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:QUAST_BINS_SUMMARY' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_HOST_REMOVAL_ALIGN' {
    cpus = { 12 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_HOST_REMOVAL_BUILD' {
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_PHIX_REMOVAL_ALIGN' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_PHIX_REMOVAL_BUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTP' {
    cpus = { 7 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTQC_RAW' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTQC_TRIMMED' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
