process {
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_ALIGN' {
    cpus = { 7 * task.attempt }
    memory = { 24.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:BBMAP_INDEX' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:COLLECT_FEATURECOUNTS' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:COLLECT_STATS' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:CUSTOM_DUMPSOFTWAREVERSIONS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:EGGNOG:EGGNOG_MAPPER' {
    cpus = { 5 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:EGGNOG:EGGNOG_SUM' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:FASTQC_TRIMGALORE:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:FASTQC_TRIMGALORE:TRIMGALORE' {
    cpus = { 8 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:FEATURECOUNTS_CDS' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:INPUT_CHECK:SAMPLESHEET_CHECK' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:MEGAHIT_INTERLEAVED' {
    cpus = { 9 * task.attempt }
    memory = { 24.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:MERGE_TABLES' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:PRODIGAL:FORMAT_PRODIGAL_GFF' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:PRODIGAL:PRODIGAL_MODULE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:SEQTK_MERGEPE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:SUB_EUKULELE:EUKULELE_SEARCH' {
    cpus = { 15 * task.attempt }
    memory = { 44.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:SUB_EUKULELE:FORMAT_TAX' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:SUB_EUKULELE:SUM_TAXONOMY' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:TRANSRATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:UNPIGZ_CONTIGS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METATDENOVO:METATDENOVO:UNPIGZ_GFF' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
