process {
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:BWAMETH_ALIGN' {
    cpus = { 13 * task.attempt }
    memory = { 14.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:METHYLDACKEL_EXTRACT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:METHYLDACKEL_MBIAS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:PICARD_MARKDUPLICATES' {
    cpus = { 2 * task.attempt }
    memory = { 29.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:SAMTOOLS_INDEX_ALIGNMENTS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:SAMTOOLS_INDEX_DEDUPLICATED' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BWAMETH:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:PRESEQ_LCEXTRAP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:QUALIMAP_BAMQC' {
    cpus = { 6 * task.attempt }
    memory = { 13.GB * task.attempt }
  }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:TRIMGALORE' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
