process {
  withName: 'NFCORE_MHCQUANT:MHCQUANT:MS2RESCORE' {
    cpus = { 9 * task.attempt }
    memory = { 49.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:MULTIQC' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_COMETADAPTER' {
    cpus = { 12 * task.attempt }
    memory = { 9.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_DECOYDATABASE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_IDFILTER_Q_VALUE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_IDMERGER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_MZTABEXPORTER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_PEPTIDEINDEXER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_PERCOLATORADAPTER' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_PSMFEATUREEXTRACTOR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:OPENMS_TEXTEXPORTER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:PREPARE_SPECTRA:THERMORAWFILEPARSER' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:MAP_ALIGNMENT:OPENMS_MAPALIGNERIDENTIFICATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:MAP_ALIGNMENT:OPENMS_MAPRTTRANSFORMERIDXML' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:MAP_ALIGNMENT:OPENMS_MAPRTTRANSFORMERMZML' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:OPENMS_IDFILTER_QUANT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:OPENMS_IDMERGER_QUANT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:OPENMS_IDRIPPER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:OPENMS_IDSCORESWITCHER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:PROCESS_FEATURE:OPENMS_FEATUREFINDERIDENTIFICATION' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:PROCESS_FEATURE:OPENMS_FEATURELINKERUNLABELEDKD' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MHCQUANT:MHCQUANT:QUANT:PROCESS_FEATURE:OPENMS_IDCONFLICTRESOLVER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
