process {
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:CLUSTALO_ALIGN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:COMPUTE_TREES:CLUSTALO_GUIDETREE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:COMPUTE_TREES:FAMSA_GUIDETREE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:CONSENSUS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:FAMSA_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:FOLDMASON_EASYMSA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:KALIGN_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:LEARNMSA_ALIGN' {
    cpus = { 9 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:MAFFT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:MAGUS_ALIGN' {
    cpus = { 18 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:MTMALIGN_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:MUSCLE5_SUPER5' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:REGRESSIVE_ALIGN' {
    cpus = { 31 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:TCOFFEE3D_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:TCOFFEE_ALIGN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:ALIGN:UPP_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CALC_GAPS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CONCAT_GAPS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CONCAT_IRMSD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CONCAT_SP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CONCAT_TC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:CONCAT_TCS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:MERGE_EVAL' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:PARSE_IRMSD' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:TCOFFEE_ALNCOMPARE_SP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:TCOFFEE_ALNCOMPARE_TC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:TCOFFEE_IRMSD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:EVALUATE:TCOFFEE_TCS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:MERGE_STATS_EVAL' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:PIGZ_COMPRESS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:PREPARE_MULTIQC' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:PREPARE_SHINY' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:CALCULATE_SEQSTATS' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:CONCAT_PLDDTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:CONCAT_SEQSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:CONCAT_SIMSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:EXTRACT_PLDDT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:MERGE_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:PARSE_SIM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:STATS:TCOFFEE_SEQREFORMAT_SIM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:TEMPLATES:CREATE_TCOFFEETEMPLATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_MULTIPLESEQUENCEALIGN:MULTIPLESEQUENCEALIGN:UNTAR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
