process {
  withName: 'NFCORE_NANOSTRING:NANOSTRING:CREATE_ANNOTATED_TABLES' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_NANOSTRING:NANOSTRING:CREATE_GENE_HEATMAP' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_NANOSTRING:NANOSTRING:MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_NANOSTRING:NANOSTRING:NORMALIZE:NACHO_NORMALIZE' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_NANOSTRING:NANOSTRING:QUALITY_CONTROL:NACHO_QC' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
