process {
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:EXTRACT_COMMUNITIES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:NET2COMMUNITIES' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:PAF2NET' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:SAMTOOLS_FAIDX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:TABIX_BGZIP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:COMMUNITY:WFMASH_MAP_COMMUNITY' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:INPUT_CHECK:SAMTOOLS_FAIDX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:MULTIQC' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:MULTIQC_COMMUNITY' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_DRAW_HEIGHT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_DRAW_MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_LAYOUT' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_COLOR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_COMPR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_DEPTH' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_INV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_POS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_QC:ODGI_VIZ_UNCALLED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_SQUEEZE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:ODGI_VIEW' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:GFAFFIX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_BUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_DRAW_HEIGHT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_DRAW_MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_LAYOUT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_COLOR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_COMPR' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_DEPTH' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_INV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_POS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_QC:ODGI_VIZ_UNCALLED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_SORT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_UNCHOP' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:ODGI_VIEW' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:SEQWISH' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:SMOOTHXG' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PANGENOME:PANGENOME:PGGB:WFMASH_MAP_ALIGN' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
