process {
  withName: 'NFCORE_PIXELATOR:PIXELATOR:GENERATE_REPORTS:PIXELATOR_REPORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_AMPLICON' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_ANALYSIS' {
    cpus = { 16 * task.attempt }
    memory = { 11.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_ANNOTATE' {
    cpus = { 2 * task.attempt }
    memory = { 15.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_COLLAPSE' {
    cpus = { 4 * task.attempt }
    memory = { 11.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_COLLECT_METADATA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_DEMUX' {
    cpus = { 16 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_GRAPH' {
    cpus = { 2 * task.attempt }
    memory = { 18.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_LAYOUT' {
    cpus = { 20 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
  withName: 'NFCORE_PIXELATOR:PIXELATOR:PIXELATOR_QC' {
    cpus = { 7 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'PIPELINE_INITIALISATION:PIXELATOR_LIST_OPTIONS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
