process {
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:CHUNK_CLUSTERS' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:EXECUTE_CLUSTERING:MMSEQS_CREATEDB' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:EXECUTE_CLUSTERING:MMSEQS_CREATETSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:EXECUTE_CLUSTERING:MMSEQS_LINCLUST' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:EXTRACT_FAMILY_REPS' {
    cpus = { 12 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:ALIGN_SEQUENCES:FAMSA_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:CLIP_ENDS' {
    cpus = { 14 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:FILTER_RECRUITED' {
    cpus = { 10 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:HMMER_HMMALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:HMMER_HMMBUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:GENERATE_FAMILIES:HMMER_HMMSEARCH' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:MULTIQC' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:ALIGN_SEQUENCES:FAMSA_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:CAT_CAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:EXECUTE_CLUSTERING:MMSEQS_CREATEDB' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:EXECUTE_CLUSTERING:MMSEQS_CREATETSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:EXECUTE_CLUSTERING:MMSEQS_LINCLUST' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:EXTRACT_FAMILY_REPS' {
    cpus = { 14 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:FILTER_NON_REDUNDANT_HMMS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:HMMER_HMMSEARCH' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:REMOVE_REDUNDANT_FAMS' {
    cpus = { 8 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:REMOVE_REDUNDANCY:REMOVE_REDUNDANT_SEQS' {
    cpus = { 14 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:ALIGN_SEQUENCES:FAMSA_ALIGN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:BRANCH_HITS_FASTA' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:CAT_FASTA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:CAT_HMM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:CLIP_ENDS' {
    cpus = { 15 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:EXECUTE_CLUSTERING:MMSEQS_CREATEDB' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:EXECUTE_CLUSTERING:MMSEQS_CREATETSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:EXECUTE_CLUSTERING:MMSEQS_LINCLUST' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:EXTRACT_FAMILY_REPS' {
    cpus = { 9 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:HMMER_HMMBUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:HMMER_HMMSEARCH' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:REMOVE_REDUNDANT_SEQS' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:SEQKIT_SEQ' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:UNTAR_HMM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFAMILIES:PROTEINFAMILIES:UPDATE_FAMILIES:UNTAR_MSA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
