process {
  withName: 'NFCORE_PROTEINFOLD:ALPHAFOLD2:MULTIQC' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_PROTEINFOLD:ALPHAFOLD2:RUN_ALPHAFOLD2' {
    cpus = { 12 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
