process {
  withName: 'NFCORE_RANGELAND:RANGELAND:MULTIQC' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RANGELAND:RANGELAND:PREPROCESSING:FORCE_GENERATE_ANALYSIS_MASK' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RANGELAND:RANGELAND:PREPROCESSING:FORCE_GENERATE_TILE_ALLOW_LIST' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RANGELAND:RANGELAND:UNTAR_DEM' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RANGELAND:RANGELAND:UNTAR_INPUT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RANGELAND:RANGELAND:UNTAR_WVDB' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
