process {
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:AMPLICON_WORKFLOW:ART_ILLUMINA' {
    cpus = { 19 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:AMPLICON_WORKFLOW:CRABS_DBIMPORT' {
    cpus = { 7 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:AMPLICON_WORKFLOW:CRABS_INSILICOPCR' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:INSILICOSEQ_GENERATE' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:MERGE_SAMPLESHEETS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:MULTIQC' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:TARGET_CAPTURE_WORKFLOW:BOWTIE2_ALIGN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:TARGET_CAPTURE_WORKFLOW:BOWTIE2_BUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:TARGET_CAPTURE_WORKFLOW:JAPSA_CAPSIM' {
    cpus = { 2 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:TARGET_CAPTURE_WORKFLOW:SAMTOOLS_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:TARGET_CAPTURE_WORKFLOW:UNZIP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_READSIMULATOR:READSIMULATOR:WGSIM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
