process {
  withName: 'NFCORE_REPORTHO:REPORTHO:ALIGN:CREATE_TCOFFEETEMPLATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:ALIGN:FILTER_FASTA' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:ALIGN:TCOFFEE_3DALIGN' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:FETCH_AFDB_STRUCTURES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:FETCH_SEQUENCES_ONLINE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:FETCH_INSPECTOR_GROUP_ONLINE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:FETCH_OMA_GROUP_ONLINE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:FETCH_PANTHER_GROUP_ONLINE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:FILTER_HITS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MAKE_HITS_TABLE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MAKE_SCORE_TABLE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MAKE_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MERGE_CSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MERGE_HITS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:MERGE_STATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:PLOT_ORTHOLOGS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:STATS2CSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:GET_ORTHOLOGS:WRITE_SEQINFO' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MAKE_TREES:CONVERT_PHYLIP' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MAKE_TREES:FASTME' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MAKE_TREES:IQTREE' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MAKE_TREES:PLOT_FASTME' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MAKE_TREES:PLOT_IQTREE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:MULTIQC' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:REPORT:CONVERT_FASTA' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:REPORT:DUMP_PARAMS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_REPORTHO:REPORTHO:REPORT:MAKE_REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
