process {
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:GTF_FILTER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:GUNZIP_FASTA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:GUNZIP_GTF' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:SORTMERNA_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:PREPARE_GENOME:STAR_GENOMEGENERATE' {
    cpus = { 6 * task.attempt }
    memory = { 65.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:ANOTA2SEQ_ANOTA2SEQRUN' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:SAMTOOLS_INDEX' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:FASTQ_ALIGN_STAR:STAR_ALIGN' {
    cpus = { 8 * task.attempt }
    memory = { 37.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:MULTIQC' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
    cpus = { 8 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:FQ_SUBSAMPLE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_INDEX' {
    cpus = { 5 * task.attempt }
    memory = { 19.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
    cpus = { 2 * task.attempt }
    memory = { 18.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:PREPROCESS_RNASEQ:SORTMERNA' {
    cpus = { 11 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:CUSTOM_TX2GENE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
    cpus = { 5 * task.attempt }
    memory = { 11.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:SE_GENE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:SE_GENE_LENGTH_SCALED' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:SE_GENE_SCALED' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:SE_TRANSCRIPT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:QUANTIFY_STAR_SALMON:TXIMETA_TXIMPORT' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:RIBOTISH_PREDICT_ALL' {
    cpus = { 5 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:RIBOTISH_PREDICT_INDIVIDUAL' {
    cpus = { 5 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:RIBOTISH_QUALITY_RIBOSEQ' {
    cpus = { 5 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:RIBOTRICER_DETECTORFS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RIBOSEQ:RIBOSEQ:RIBOTRICER_PREPAREORFS' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
