process {
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:ARRIBA_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:CONVERT2BED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:ENSEMBL_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:FUSIONCATCHER_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:FUSIONREPORT_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:GATK4_BEDTOINTERVALLIST' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:GATK4_CREATESEQUENCEDICTIONARY' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:GTF_TO_REFFLAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:HGNC_DOWNLOAD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:RRNA_TRANSCRIPTS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:SAMTOOLS_FAIDX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:STARFUSION_BUILD' {
    cpus = { 4 * task.attempt }
    memory = { 39.GB * task.attempt }
  }
  withName: 'NFCORE_RNAFUSION:BUILD_REFERENCES:STAR_GENOMEGENERATE' {
    cpus = { 8 * task.attempt }
    memory = { 72.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
