process {
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAMTOOLS_SPLIT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_DEDUP:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_DEDUP:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_DEDUP:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_DEDUP:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_DEDUP:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_FILTERED:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_FILTERED:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_FILTERED:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_FILTERED:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_FILTERED:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_MINIMAP:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_MINIMAP:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_MINIMAP:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_MINIMAP:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_MINIMAP:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_SPLIT:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_SPLIT:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_SPLIT:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_SPLIT:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_SPLIT:SAMTOOLS_SORT' {
    cpus = { 5 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_TAGGED:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_TAGGED:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_TAGGED:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_TAGGED:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BAM_SORT_STATS_SAMTOOLS_TAGGED:SAMTOOLS_SORT' {
    cpus = { 6 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:BLAZE' {
    cpus = { 5 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:CAT_CAT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:CAT_CAT_BARCODE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:CAT_CAT_PREEXTRACT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:COMBINE_SEURAT_STATS_GENE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:COMBINE_SEURAT_STATS_TRANSCRIPT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:CORRECT_BARCODES' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_EXTRACT:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_EXTRACT:NANOPLOT' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_EXTRACT:TOULLIGQC' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_TRIM:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_TRIM:NANOPLOT' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_POST_TRIM:TOULLIGQC' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_PRE_TRIM:FASTQC' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_PRE_TRIM:NANOPLOT' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:FASTQC_NANOPLOT_PRE_TRIM:TOULLIGQC' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:ISOQUANT' {
    cpus = { 6 * task.attempt }
    memory = { 18.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:MINIMAP2_ALIGN' {
    cpus = { 13 * task.attempt }
    memory = { 27.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:MINIMAP2_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 19.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:MULTIQC_FINALQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:MULTIQC_RAWQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:NANOCOMP_BAM' {
    cpus = { 4 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:NANOCOMP_FASTQ' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:NANOFILT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PIGZ_COMPRESS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PIGZ_UNCOMPRESS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PREEXTRACT_FASTQ' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PREPARE_REFERENCE_FILES:SAMTOOLS_FAIDX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PREPARE_REFERENCE_FILES:UNZIP_FASTA' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:PREPARE_REFERENCE_FILES:UNZIP_GTF' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:READ_COUNTS' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:RSEQC_READDISTRIBUTION' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SAMTOOLS_MERGE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SAMTOOLS_VIEW_FILTER' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SEURAT_GENE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SEURAT_TRANSCRIPT' {
    cpus = { 2 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SPLIT_FILE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SPLIT_FILE_BC_CSV' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:SPLIT_FILE_BC_FASTQ' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:TAG_BARCODES' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:UCSC_GENEPREDTOBED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:UCSC_GTFTOGENEPRED' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCNANOSEQ:SCNANOSEQ:UMITOOLS_DEDUP' {
    cpus = { 6 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
