process {
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:EMPTYDROPS_CELL_CALLING' {
    cpus = { 2 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:FASTQC_CHECK:FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:GTF_GENE_FILTER' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:MTX_CONVERSION:CONCAT_H5AD' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:MTX_CONVERSION:MTX_TO_H5AD' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:MTX_CONVERSION:MTX_TO_SEURAT' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:STARSOLO:STAR_ALIGN' {
    cpus = { 8 * task.attempt }
    memory = { 37.GB * task.attempt }
  }
  withName: 'NFCORE_SCRNASEQ:SCRNASEQ:STARSOLO:STAR_GENOMEGENERATE' {
    cpus = { 5 * task.attempt }
    memory = { 66.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
