process {
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:MINIMAP2_ALIGN' {
    cpus = { 5 * task.attempt }
    memory = { 7.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:MINIMAP2_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:SAMTOOLS_FASTQ' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_HOSTREMOVAL:SAMTOOLS_VIEW' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_PREPROCESSING:FASTQC_PROCESSED' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_PREPROCESSING:LONGREAD_ADAPTERREMOVAL:PORECHOP_ABI' {
    cpus = { 2 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:LONGREAD_PREPROCESSING:LONGREAD_FILTERING:NANOQ' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:MERGE_RUNS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:MULTIQC' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:NONPAREIL:NONPAREIL_CURVE' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:NONPAREIL:NONPAREIL_NONPAREIL' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:NONPAREIL:NONPAREIL_NONPAREILCURVESR' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:NONPAREIL:NONPAREIL_SET' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:BRACKEN_BRACKEN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:CENTRIFUGE_CENTRIFUGE' {
    cpus = { 11 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:CENTRIFUGE_KREPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:DIAMOND_BLASTX' {
    cpus = { 10 * task.attempt }
    memory = { 11.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:GANON_CLASSIFY' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:GANON_REPORT' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KAIJU_KAIJU' {
    cpus = { 13 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KAIJU_KAIJU2TABLE_SINGLE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KMCP_PROFILE' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KMCP_SEARCH' {
    cpus = { 6 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KRAKEN2_KRAKEN2' {
    cpus = { 5 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:KRAKENUNIQ_PRELOADEDKRAKENUNIQ' {
    cpus = { 4 * task.attempt }
    memory = { 17.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:MALT_RUN' {
    cpus = { 2 * task.attempt }
    memory = { 18.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:MEGAN_RMA2INFO_TSV' {
    cpus = { 3 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:METAPHLAN_METAPHLAN' {
    cpus = { 4 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:PROFILING:MOTUS_PROFILE' {
    cpus = { 6 * task.attempt }
    memory = { 5.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_HOSTREMOVAL:BOWTIE2_ALIGN' {
    cpus = { 3 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_HOSTREMOVAL:BOWTIE2_BUILD' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_HOSTREMOVAL:SAMTOOLS_INDEX' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_HOSTREMOVAL:SAMTOOLS_STATS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_PREPROCESSING:FASTQC_PROCESSED' {
    cpus = { 2 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:SHORTREAD_PREPROCESSING:SHORTREAD_FASTP:FASTP_PAIRED' {
    cpus = { 8 * task.attempt }
    memory = { 3.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:BRACKEN_COMBINEBRACKENOUTPUTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:GANON_TABLE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:KAIJU_KAIJU2TABLE_COMBINED' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:KRAKENTOOLS_COMBINEKREPORTS_CENTRIFUGE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:KRAKENTOOLS_COMBINEKREPORTS_KRAKEN' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:METAPHLAN_MERGEMETAPHLANTABLES' {
    cpus = { 3 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:MOTUS_MERGE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:STANDARDISATION_PROFILES:TAXPASTA_MERGE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:UNTAR' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:VISUALIZATION_KRONA:KAIJU_KAIJU2KRONA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:VISUALIZATION_KRONA:KRAKENTOOLS_KREPORT2KRONA' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:VISUALIZATION_KRONA:KRONA_CLEANUP' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'NFCORE_TAXPROFILER:TAXPROFILER:VISUALIZATION_KRONA:KRONA_KTIMPORTTEXT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
